{% extends 'base.html.twig' %}

{% block title %}Produits de la ferme{% endblock %}

{% block body %}


<div class="presentation-title">
    <h1>Bienvenue à la ferme !</h1>
    <p>Produits locaux et frais toute l'année</p>
</div>
<section class="presentation-section">
    <div class="row">
        <div class="col-12">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia, fugit soluta? Totam quisquam itaque
                suscipit ea veniam quia error, laboriosam architecto voluptates corporis dolorem, molestiae
                necessitatibus repellendus iure laborum illum?</p>
        </div>
    </div>

</section>
<section class="card-product">
   
    <div id="card-section" class="row">
      
        <div class="col-md-3 mr-2">
            <div class="card">
                <img class="card-img-top" src="{{asset('/images/legumes.jpeg')}}" alt="Card image cap">
                <div class="card-body text-center">
                    <h5 class="card-title">Légumes</h5>
                 
                    <a href="{{path('product', {'id': '1'})}}" class="btn btn-primary">En savoir plus</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 mr-2">
            <div class="card">
                <img class="card-img-top" src="{{asset('/images/fruits.jpeg')}}" alt="Card image cap">
                <div class="card-body text-center">
                    <h5 class="card-title">Fruits</h5>
                 
                    <a href="{{path('product', {'id': '2'})}}" class="btn btn-primary">En savoir plus</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 mr-2">
            <div class="card">
                <img class="card-img-top" src="{{asset('/images/yaourt.jpeg')}}" alt="Card image cap">
                <div class="card-body text-center">
                    <h5 class="card-title">Yaourts</h5>
                 
                    <a href="{{path('product', {'id': '3'})}}" class="btn btn-primary">En savoir plus</a>
                </div>
            </div>
        </div>
     
    </div>
    
</section>



{% endblock %}