{% extends "base.html.twig" %}

{% block title %}
Ajouter
{% endblock %}
{% block body %}
<h1>Ajouter un nouveau produit</h1>

<div id="form" class="row">
    <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="form-card">
            {{ form_start(form) }}
            {{ form_row(form.name, { 'label': 'Nom' }) }}
            {{ form_row(form.description, { 'label': 'Description' }) }}
            {{ form_row(form.origin, { 'label': 'Origine du produit' }) }}
            {{ form_row(form.price, { 'label': 'Prix en €' })}}
            {{ form_row(form.weight, { 'label': 'Poids' }) }}
            {{ form_row(form.type, { 'label': 'Conditionnement' }) }}        
            {{ form_row(form.category, { 'label': 'Catégorie' }) }}
            <div class="button">
                <input class="btn btn-primary" type="submit" value="Ajouter">
            </div>
        
            {{ form_end(form) }}

        </div>
    </div>
</div>

{% endblock %}