{% extends 'base.html.twig' %}

{% block title %}
	{{category.name}}
{% endblock %}

{% block body %}
	<h2>{{category.name}}</h2>
	<div class="row">

		{% for product in products %}

			<div class="col-lg-2 col-md-2 products">
				<a href="{{path('product-show', {'product_id': product.id ,'category_id': category.id})}}">{{product.name}}</a>
			</div>

		{% else %}
			<div class="products-empty col-lg-12 col-md-12">
				<p>
					il n'y a pas de produits pour le moment ou les produits sont indisponible.
				</p>
				
			</div>
		{% endfor %}

	</div>
	<div class="row link-back">
		<div class="col-lg-12 col-md-12">
			<a href="{{path('home')}}" class="btn btn-primary">Retour</a>
		</div>
	</div>


{% endblock %}
