{% extends "base.html.twig" %}
{% block title %}{{product.name}}{% endblock %}
{% block body %}
<h2>{{category.name}}</h2>
<div class="row">
    <div class="col-lg-12 col-md-12">

        <div class="product-content">
            <div class="image-content">
                {% if product.filename %}
                <img class="product-image" src="{{ vich_uploader_asset(product, 'imageFile') }}" alt="photo de {{ product.name}}">
                {% else %}
                   Désolé aucune photo pour ce produit
                {% endif %}
            </div>
            <div class="title-product">
               <h3>{{product.name}}</h3>
            </div>
          
            <div class="product-origin">
                <span class="product-title">Origine:</span>
                <p>
                    {{product.origin}}
                </p> 
            </div>
            <div class="product-weight">
                <span  class="product-title">Unité:</span> 
                <p>
                    {% if product.weight > 1 %}

                    {{product.weight}} pièces                        
                    {% else %}

                    {{product.weight}}
                    {% for type in product.type %}
                    {{type}}
                    {% endfor %} 

                    {% endif %}


                </p> 
            </div>
            <div class="product-price">
                <span  class="product-title">Prix:</span>
                <p>
                    {{product.price}} €
                </p> 
            </div>
            <div>
                <a href="{{path('cart_add', {id: product.id}) }}" class="btn btn-success float-left btn-sm">
                    <i class="fa fa-shopping-cart"></i>
                    Ajouter
                </a>
            </div>
          

        </div>
        <div class="link-back">

            <a href="{{path('products', {'id': category.id})}}" class="btn btn-primary">Retour aux produits</a>
        </div>
    </div>

</div>
{% endblock %}